@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');

:root {
    --primary-color: rgb(17, 86, 102);
    --primary-color-hover: rgb(9, 48, 56);
    --primary-color-active: rgb(14, 181, 215);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.3em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #FFF;
    padding: 20px;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;

}

form input:focus {
    outline: 3px solid var(--primary-color);
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: var(--primary-color-hover);
}

form button:active {
    background-color: var(--primary-color-active);
}

table {
    width: 100%;
}

.cabecalho {
    background: rgb(24, 158, 242);
}